@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@use "colors";
@use "mixins";
@use "components/navbar";
@use "components/forms";
@use "components/lists";
@use "components/modals";

.o_web_client.dux-theme-dark {
    color-scheme: dark;
    font-family: 'Inter', sans-serif;
}

.o_web_client {
    @include mixins.transition-base;
    font-family: 'Inter', sans-serif;
}
